{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            <!-- here we are using the url  method to give the urls 
             instead of hardcoding them. 'detail' is the name which we gave to the url 
             in urls.py for each question you can see it by opening urls.py  
            -->
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}